<!DOCTYPE html>
<html>
  <head>
    <title>OmgBarcode</title>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="./app/assets/images/favicon.png">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Nunito:200,300" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
