<h1>Welcome to the Barcode Scanner!</h1>
<p>For more info, please visit <a href="https://github.com/adoundakov/projects/tree/master/omg_barcode">the repo</a>.</p>

<%= link_to 'Create an Item', new_item_url %>
