<%= link_to 'Back', :root, { class: 'back-button' } %>

<h1 class="app-header">Add a New Item</h1>

<div class="form-container">
  <form class="item-form" action="/items" method="post">
    <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
    <label>Item Name<br>
    <input type="text" name="item[name]" value="">
    </label>
    <br>
    <label>UPC<br>
    <input type="text" name="item[upc]" value="">
    </label>
    <br>
    <button id='submit' class='ui-button' type="submit" name="button">Create</button>
    <ul id="error-box">
      <% if flash[:success] %>
        <li class='success'><%= flash[:success].first %></li>
      <% elsif flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <li class='error'><%= error %></li>
        <% end %>
      <% end %>
    </ul>
  </form>
</div>
